@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot');
  src: url('../fonts/fontello.eot#iefix') format('embedded-opentype'), url('../fonts/fontello.woff2') format('woff2'), url('../fonts/fontello.woff') format('woff'), url('../fonts/fontello.ttf') format('truetype'), url('../fonts/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bourgeois_bold';
  src: url('../fonts/bourgeois-bold-webfont.woff2') format('woff2'), url('../fonts/bourgeois-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bourgeois_med';
  src: url('../fonts/bourgeois-med-webfont.woff2') format('woff2'), url('../fonts/bourgeois-med-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aero_matics_regular';
  src: url('../fonts/aero_matics_regular-webfont.woff2') format('woff2'), url('../fonts/aero_matics_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aero_matics_light_regular';
  src: url('../fonts/aero_matics_light-webfont.woff2') format('woff2'), url('../fonts/aero_matics_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aero_matics_light_italic';
  src: url('../fonts/aero_matics_light_italic-webfont.woff2') format('woff2'), url('../fonts/aero_matics_light_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  /*line-height: 1em;*/
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .2em;*/
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-search:before {
  content: '\e800';
}
/* '' */
.icon-plus:before {
  content: '\e801';
}
/* '' */
.icon-play:before {
  content: '\e802';
}
/* '' */
.icon-cancel:before {
  content: '\e803';
}
/* '' */
.icon-right-dir:before {
  content: '\e804';
}
/* '' */
.icon-left-dir:before {
  content: '\e805';
}
/* '' */
.icon-menu:before {
  content: '\e806';
}
/* '' */
.icon-twitter:before {
  content: '\f099';
}
/* '' */
.icon-facebook:before {
  content: '\f09a';
}
/* '' */
.icon-gplus:before {
  content: '\f0d5';
}
/* '' */
.icon-youtube-play:before {
  content: '\f16a';
}
/* '' */
.icon-instagram:before {
  content: '\f16d';
}
/* '' */
.icon-pinterest:before {
  content: '\f231';
}
/* '' */
/*------------------------------------------------------------------
[Table of contents]

MIXIN FOR LESS

1. Mixin for Font
2. Define colors
3. CSS3 PROPERTIES
-------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------
1. Mixin for Font 
-----------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------
2. Define colors
-----------------------------------------------------------------------------------------------------------*/
/*for style guide*/
/*for style guide*/
/*-----------------------------------------------------------------------------------------------------------
3. CSS3 PROPERTIES 
-----------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

ALL GLOBAL STYLE

1. Layout Style
2. Responsive Utility
3. Color Palette
4. Typography Components
	1.1 Heading tag
	3.2 Links & Buttons style
5. Product Tile
6. Total Table
7. Table List View
8. Form Element Style
9. Advance Tab
10. Icons
11. Product Image Guide
-------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------
1. Layout Style
-----------------------------------------------------------------------------------------------------------*/
.wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: transform 0.6s;
  -moz-transition: transform 0.6s;
  -o-transition: transform 0.6s;
  transition: transform 0.6s;
  font-size: 16px;
  font-size: 1rem;
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
}
.wrapper.menu-active {
  -webkit-transform: translate3d(270px, 0, 0);
  -moz-transform: translate3d(270px, 0, 0);
  -o-transform: translate3d(270px, 0, 0);
  transform: translate3d(270px, 0, 0);
  position: relative;
}
.wrapper.menu-active .hamburger .icon-close {
  display: block;
}
.wrapper.menu-active .hamburger .icon-hamburger {
  display: none;
}
.wrapper .hamburger .icon-close {
  display: none;
}
.container {
  width: 100%;
  padding-bottom: 40px;
}
@media (min-width: 1024px) {
  .container {
    padding-bottom: 80px;
  }
}
.inner-container {
  max-width: 95%;
  width: 1300px;
  margin: 0 auto;
}
/*-----------------------------------------------------------------------------------------------------------
2. Responsive Utility
-----------------------------------------------------------------------------------------------------------*/
.desktop-only {
  display: none;
}
@media (min-width: 768px) {
  .desktop-only {
    display: block!important;
  }
}
.mobile-only {
  display: block;
}
@media (min-width: 768px) {
  .mobile-only {
    display: none!important;
  }
}
/*-----------------------------------------------------------------------------------------------------------
3. Color Palette
-----------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------
4. Main Style & Typography Components
-----------------------------------------------------------------------------------------------------------*/
html {
  width: 100%;
}
body {
  color: #000000;
  font-family: "aero_matics_light_regular";
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.clr {
  clear: both;
}
img {
  border: none;
}
p {
  margin: 0;
  padding: 0;
}
i {
  display: inline-block;
  vertical-align: top;
}
/*-------------------------------------------------
4.1 Heading tag
-------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'bourgeois_bold';
  font-size: 20px;
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  h1 {
    font-family: 'bourgeois_bold';
    font-size: 24px;
    font-size: 1.5rem;
  }
}
h2 {
  font-family: 'bourgeois_bold';
  font-size: 20px;
  font-size: 1.25rem;
  color: #000000;
  text-transform: none;
}
@media (min-width: 768px) {
  h2 {
    font-family: 'bourgeois_bold';
    font-size: 24px;
    font-size: 1.5rem;
  }
}
h3 {
  font-family: 'bourgeois_bold';
  font-size: 14px;
  font-size: 0.875rem;
  color: #000000;
}
h4 {
  font-family: 'bourgeois_med';
  font-size: 14px;
  font-size: 0.875rem;
  color: #000000;
  text-transform: none;
}
h5 {
  font-family: 'bourgeois_med';
  font-size: 16px;
  font-size: 1rem;
  color: #000000;
}
h6 {
  font-family: 'aero_matics_light_italic';
  font-size: 16px;
  font-size: 1rem;
  color: #000000;
  text-transform: none;
}
p {
  font-family: 'aero_matics_light_regular';
  font-size: 13px;
  font-size: 0.8125rem;
}
@media (min-width: 768px) {
  p {
    font-family: 'aero_matics_light_regular';
    font-size: 15px;
    font-size: 0.9375rem;
  }
}
p a {
  color: #000000;
}
em {
  font-family: 'aero_matics_light_italic';
  font-style: normal;
}
/*-------------------------------------------------
4.2 Link style
-------------------------------------------------*/
a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}
a:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
button:focus {
  outline: none;
}
input[type="button"].button,
input[type="submit"].button,
button.button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  line-height: 28px;
  outline: none;
  padding: 0 30px;
}
button[disabled],
html input[disabled] {
  cursor: default !important;
}
.btn {
  font-size: 15px;
  font-size: 0.9375rem;
  background: #99b53d;
  color: #ffffff;
  display: inline-block;
  padding: 8px 15px 6px;
  text-transform: uppercase;
}
.btn.spec-font {
  font-family: 'bourgeois_bold';
}
.btn span {
  font-family: 'bourgeois_bold';
}
@media screen and (max-width: 340px) {
  .btn {
    font-size: 12px;
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 18px;
    font-size: 1.125rem;
    padding: 10px 15px 8px;
  }
}
@media screen and (min-width: 1280px) {
  .btn {
    font-size: 26px;
    font-size: 1.625rem;
    padding: 15px 25px 13px;
  }
}
/*-----------------------------------------------------------------------------------------------------------
5. Product tile
-----------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------
6. Total Table
-----------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------
7. Table List View
-----------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------
8. Form Element Style
-----------------------------------------------------------------------------------------------------------*/
textarea:focus,
input:focus {
  outline: 0;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #eeeeee;
  color: #000000 !important;
  width: 100%;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #000000;
  color: #000000;
}
input[type="text"][placeholder],
input[type="number"][placeholder],
input[type="password"][placeholder],
input[type="email"][placeholder],
textarea[placeholder] {
  color: #5f605f;
  opacity: 1;
}
input[type="text"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
textarea:-moz-placeholder {
  /* FF 4-18 */
  color: #5f605f;
  opacity: 1;
}
input[type="text"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #5f605f;
  opacity: 1;
}
input[type="text"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
textarea::-moz-placeholder {
  /* FF 19+ */
  color: #5f605f;
  opacity: 1;
}
input[type="text"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #5f605f;
  opacity: 1;
}
input[type="text"].error,
input[type="number"].error,
input[type="password"].error,
input[type="email"].error,
textarea.error {
  border: 1px solid #ff0000;
  color: #ff0000;
}
input[type="text"] + .error,
input[type="number"] + .error,
input[type="password"] + .error,
input[type="email"] + .error,
textarea + .error {
  color: #ff0000;
  display: block;
  margin-top: 5px;
}
input[type="text"]:-webkit-autofill,
input[type="number"]:-webkit-autofill,
input[type="password"]:-webkit-autofill,
input[type="email"]:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
  height: 30px;
  line-height: normal;
  padding: 0 15px;
}
textarea {
  height: 100px;
  padding: 5px 15px;
}
input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
  position: absolute;
}
/*-----------------------------------------------------------------------------------------------------------
9. Advance Tab
-----------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------
10. Icons
-----------------------------------------------------------------------------------------------------------*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  margin-left: 0;
  margin-right: 0;
  width: auto;
}
[class^="icon-"] em {
  font-size: 0px;
  font-size: 0rem;
  line-height: 0;
}
/*-----------------------------------------------------------------------------------------------------------
11. Image Guide
-----------------------------------------------------------------------------------------------------------*/
.header {
  background: #000000;
  padding: 12px 0;
}
.header .inner-container {
  *zoom: 1;
  position: relative;
}
.header .inner-container:before,
.header .inner-container:after {
  display: table;
  content: "";
  line-height: 0;
}
.header .inner-container:after {
  clear: both;
}
.header h1 {
  text-align: center;
}
.hamburger {
  color: #ffffff;
  display: block;
  height: 30px;
  left: -5px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 30px;
}
.hamburger .icon-menu {
  font-size: 30px;
  font-size: 1.875rem;
}
.hamburger .icon-close {
  font-size: 18px;
  font-size: 1.125rem;
}
.nav {
  background: #000000;
  padding-top: 10px;
}
.nav a {
  font-family: 'bourgeois_bold';
  font-size: 16px;
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
}
.nav a:hover {
  color: #aecb44;
}
.nav li {
  display: block;
  padding: 15px 20px 15px 0;
  border-bottom: 2px solid #27272d;
}
.nav li:last-child {
  border-bottom: none;
}
.search-wrapper {
  float: right;
  position: absolute;
  right: 2.5%;
  top: 44px;
  z-index: 10;
}
.search-wrapper .input-holder {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 40px;
  position: relative;
  width: 40px;
}
.search-wrapper .input-holder .search-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
  -moz-transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
  -o-transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
  -webkit-transform: translate(0, 60px);
  -moz-transform: translate(0, 60px);
  -ms-transform: translate(0, 60px);
  -o-transform: translate(0, 60px);
  transform: translate(0, 60px);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  font-family: 'aero_matics_regular';
  font-size: 15px;
  font-size: 0.9375rem;
  width: 100%;
  height: 40px;
  padding: 0px 30px 0 10px;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
  border: none;
  outline: none;
  font-weight: 400;
  line-height: 20px;
  color: #FFF;
}
.search-wrapper .input-holder .search-icon {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  padding: 0px;
  outline: none;
  position: relative;
  z-index: 2;
  float: right;
  cursor: pointer;
  top: -49px;
}
.search-wrapper .input-holder .search-icon span {
  font-size: 20px;
  font-size: 1.25rem;
  color: #5f605f;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.search-wrapper .icon-cancel {
  -webkit-transition: all 0.3s cubic-bezier(0.285, -0.45, 0.935, 0.11);
  -moz-transition: all 0.3s cubic-bezier(0.285, -0.45, 0.935, 0.11);
  -o-transition: all 0.3s cubic-bezier(0.285, -0.45, 0.935, 0.11);
  transition: all 0.3s cubic-bezier(0.285, -0.45, 0.935, 0.11);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  font-size: 20px;
  font-size: 1.25rem;
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  visibility: hidden;
  color: #000000;
}
.search-wrapper .result-container {
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0px;
  text-align: center;
  font-family: "Open Sans", Arial, Verdana;
  font-size: 14px;
  display: none;
  color: #B7B7B7;
}
.search-wrapper.active .input-holder {
  -webkit-transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
  -moz-transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
  -o-transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background: #ffffff;
  width: 300px;
}
.search-wrapper.active .input-holder .search-input {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.search-wrapper.active .icon-cancel {
  -webkit-transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
  -moz-transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
  -o-transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  right: 0;
  visibility: visible;
}
@media screen and (max-width: 560px) {
  .search-wrapper.active .input-holder {
    width: 200px;
  }
}
@media screen and (min-width: 1025px) {
  .header h1 {
    float: left;
  }
  .hamburger {
    display: none;
  }
  .nav {
    float: left;
    padding-top: 3px;
    padding-left: 40px;
  }
  .nav li {
    display: inline-block;
    padding: 0 20px;
    border-right: 2px solid #27272d;
    border-bottom: none;
  }
  .nav li.active a {
    color: #aecb44;
  }
  .nav li:last-child {
    border-right: none;
    padding-right: 0;
  }
  .nav a {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .search-wrapper {
    top: -7px;
    right: 0;
  }
  .search-wrapper .input-holder .search-icon {
    top: 0;
  }
  .search-wrapper .icon-cancel {
    font-size: 22px;
    font-size: 1.375rem;
  }
  .search-wrapper.active .icon-cancel {
    right: -40px;
    color: #ffffff;
  }
}
.footer {
  text-align: center;
}
.footer-top {
  background: #eeeeee;
  border-top: 1px solid #dededf;
  padding: 20px 10px;
}
.footer-top h4 {
  font-family: 'bourgeois_med';
  font-size: 30px;
  font-size: 1.875rem;
  color: #444444;
}
.footer-top .note {
  font-size: 15px;
  font-size: 0.9375rem;
  display: block;
  padding: 5px 0 18px;
}
.footer-bottom {
  background: #08080f;
  color: #ffffff;
  padding-bottom: 10px;
}
.footer-bottom a {
  color: #ffffff;
}
.footer-bottom a:hover {
  color: #aecb44;
}
.subscribe-form {
  margin: 0 auto;
}
.subscribe-form .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.subscribe-form .input-group .form-control {
  font-family: 'aero_matics_regular';
  font-size: 19px;
  font-size: 1.1875rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dddde0;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  height: 40px;
  display: table-cell;
}
.subscribe-form .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
  padding-left: 5px;
}
.subscribe-form .input-group-btn button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: 'aero_matics_regular';
  font-size: 15px;
  font-size: 0.9375rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000;
  border: none;
  padding: 0 20px;
  height: 40px;
}
.footer-link {
  padding: 48px 10px 70px;
}
.footer-link li {
  display: inline-block;
  padding: 0 25px;
  vertical-align: bottom;
}
.footer-link a {
  font-family: 'bourgeois_bold';
  text-transform: uppercase;
}
.footer-link img {
  max-width: 110px;
}
.footer-social {
  border-bottom: 1px solid #26262c;
  border-top: 1px solid #26262c;
  padding: 15px 0 5px;
}
.footer-social li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 15px 10px;
}
.footer-social li a {
  opacity: 0.3;
  filter: alpha(opacity=30);
  font-family: 'bourgeois_bold';
}
.footer-social li a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.footer-social li a i {
  padding-right: 3px;
}
@media screen and (max-width: 767px) {
  .footer-social a {
    font-size: 14px;
    font-size: 0.875rem;
  }
  .footer-social li {
    padding-left: 8px;
    padding-right: 8px;
  }
  .footer-link {
    padding: 25px 0 30px;
  }
  .footer-link li {
    padding: 0 5px;
  }
  .footer-link li a {
    font-size: 14px;
    font-size: 0.875rem;
  }
  .footer-link img {
    max-width: 60px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-form {
    max-width: 550px;
  }
  .subscribe-form .input-group .form-control,
  .subscribe-form .input-group-btn button {
    height: 50px;
  }
  .subscribe-form .input-group-btn button {
    width: 135px;
  }
  .footer-top {
    padding: 50px 10px;
  }
  .footer-top h4 {
    font-size: 60px;
    font-size: 3.75rem;
  }
  .footer-top .note {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
.banner {
  color: #ffffff;
  position: relative;
  z-index: 10;
}
.banner img {
  width: 100%;
}
.banner figure {
  margin: 0;
  padding: 0;
}
.banner figcaption {
  font-family: 'aero_matics_light_regular';
  position: absolute;
  top: 10px;
  text-align: center;
  left: 0;
  right: 0;
  color: #ffffff;
  letter-spacing: 0.1em;
  z-index: 15;
}
.banner figcaption h2 {
  font-family: 'aero_matics_regular';
  font-size: 22px;
  font-size: 1.375rem;
  color: #ffffff;
  padding-bottom: 6px;
}
.banner figcaption h3 {
  font-family: 'aero_matics_light_regular';
  font-size: 16px;
  font-size: 1rem;
  color: #ffffff;
  max-width: 90%;
  margin: 0 auto 15px;
}
.banner figcaption h3 br {
  display: none;
}
.banner figcaption .sig {
  font-size: 12px;
  font-size: 0.75rem;
  display: block;
  text-transform: uppercase;
}
@media screen and (max-width: 340px) {
  .banner figcaption {
    top: 5px;
  }
  .banner figcaption h2 {
    font-size: 19px;
    font-size: 1.1875rem;
  }
  .banner figcaption h3 {
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: 5px;
  }
  .banner figcaption .sig {
    font-size: 13px;
    font-size: 0.8125rem;
  }
}
@media screen and (min-width: 768px) {
  .banner figcaption {
    top: 50px;
  }
  .banner figcaption h2 {
    font-size: 26px;
    font-size: 1.625rem;
  }
  .banner figcaption h3 {
    font-size: 20px;
    font-size: 1.25rem;
    max-width: 75%;
  }
  .banner figcaption .sig {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}
@media screen and (min-width: 1280px) {
  .banner figcaption h2 {
    font-size: 72px;
    font-size: 4.5rem;
  }
  .banner figcaption h3 {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 1.4;
    max-width: 60%;
  }
  .banner figcaption h3 br {
    display: inline;
  }
  .banner figcaption .sig {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
.about-info {
  color: #333333;
  padding: 30px 24px 0;
}
.about-info h2 {
  font-family: 'bourgeois_bold';
  font-size: 28px;
  font-size: 1.75rem;
  color: #333333;
}
.about-info .info-sub {
  font-size: 20px;
  font-size: 1.25rem;
  padding: 15px 0 0;
}
.about-info .about-description {
  font-size: 17px;
  font-size: 1.0625rem;
  padding-left: 30px;
}
.about-info .about-description p {
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.4;
  letter-spacing: 0.05em;
  padding-top: 35px;
}
.about-info .about-description p.sig {
  font-family: 'aero_matics_light_italic';
  font-size: 15px;
  font-size: 0.9375rem;
  color: #010101;
}
.about-info .about-description a {
  font-family: 'aero_matics_light_italic';
  color: #aecb44;
  text-decoration: underline;
}
.about-info .about-description h3 {
  font-family: 'aero_matics_light_italic';
  font-size: 26px;
  font-size: 1.625rem;
  color: #aecb44;
  padding-top: 35px;
}
.about-info .about-description h3 + p {
  padding-top: 20px;
}
@media screen and (min-width: 1024px) {
  .about-info h2 {
    font-family: 'bourgeois_bold';
    font-size: 48px;
    font-size: 3rem;
  }
  .about-info .info-sub {
    font-size: 26px;
    font-size: 1.625rem;
  }
  .about-info .about-description {
    font-size: 20px;
    font-size: 1.25rem;
    padding-left: 100px;
  }
  .about-info .about-description p {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .about-info .about-description p.sig {
    font-size: 18px;
    font-size: 1.125rem;
  }
  .about-info .about-description h3 {
    font-size: 26px;
    font-size: 1.625rem;
  }
}
@media screen and (min-width: 1280px) {
  .about-info {
    padding: 60px 94px 0;
  }
  .about-info h2 {
    font-family: 'bourgeois_bold';
    font-size: 48px;
    font-size: 3rem;
  }
  .about-info .info-sub {
    font-size: 36px;
    font-size: 2.25rem;
  }
  .about-info .about-description {
    font-size: 26px;
    font-size: 1.625rem;
    padding-left: 250px;
  }
  .about-info .about-description p {
    font-size: 26px;
    font-size: 1.625rem;
  }
  .about-info .about-description p.sig {
    font-size: 24px;
    font-size: 1.5rem;
  }
  .about-info .about-description h3 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
.product-intro {
  color: #ffffff;
  text-align: center;
  background: url(../images/bgd-01.jpg) no-repeat 0 0 #28aec3;
  background-size: 100%;
  padding-bottom: 100px;
  position: relative;
}
.product-intro .img-intro {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  position: relative;
  z-index: 10;
}
.product-intro h2 {
  font-family: 'aero_matics_regular';
  font-size: 40px;
  font-size: 2.5rem;
  color: #ffffff;
  padding: 20px 0;
  text-transform: uppercase;
}
.product-intro-content {
  padding-bottom: 20px;
}
.product-intro-content h3 {
  font-family: 'bourgeois_bold';
  font-size: 25px;
  font-size: 1.5625rem;
  color: #ffffff;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.product-intro-content h3:after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  width: 60px;
  height: 4px;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
}
.product-intro-content p {
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.05em;
  line-height: 1.4;
}
.product-description {
  background: url(../images/bgd-02.jpg) no-repeat 0 100px #ffffff;
  background-size: 100%;
}
.product-description .video-container {
  margin-top: -100px;
}
.video {
  margin-bottom: 30px;
}
.video-container {
  position: relative;
  margin: 0 auto;
  max-width: 90%;
}
.video-container .btn-play {
  display: block;
}
.video-container .btn-play img {
  position: relative;
  width: 100%;
}
.video-container .btn-play .icon-play {
  font-size: 50px;
  font-size: 3.125rem;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #000000;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  text-align: center;
  padding-left: 10px;
}
.product-description-item {
  font-size: 16px;
  font-size: 1rem;
  color: #444444;
  line-height: 1.4;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
}
.product-description-item .inner-container {
  padding: 0 20px;
}
.product-description-item.item-1 {
  background: url(../images/bgd-03.jpg) no-repeat 0 20px;
  background-size: 100px;
}
.product-description-item.item-2 {
  background: url(../images/bgd-04.jpg) no-repeat 100% 10px;
  background-size: 130px;
}
.product-description-item h2 {
  font-family: 'aero_matics_regular';
  font-size: 30px;
  font-size: 1.875rem;
  color: #25acc2;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.product-description-item h3 {
  font-family: 'bourgeois_bold';
  font-size: 20px;
  font-size: 1.25rem;
  color: #444444;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.product-description-item p {
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 15px;
}
.product-description-item ul {
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 15px;
}
.product-description-item .freeship {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 10px 0 0 20px;
}
.accordion-group .accordion-title {
  padding-bottom: 10px;
  position: relative;
}
.accordion-group .accordion-title a {
  font-family: 'aero_matics_regular';
  font-size: 16px;
  font-size: 1rem;
  color: #444444;
  display: block;
  letter-spacing: 0.05em;
  padding-right: 30px;
}
.accordion-group .accordion-title a span {
  font-family: 'aero_matics_light_regular';
  font-size: 30px;
  font-size: 1.875rem;
  position: absolute;
  right: 0;
  top: -8px;
}
.accordion-group .accordion-title a .cancel {
  font-size: 21px;
  font-size: 1.3125rem;
  display: none;
  top: -3px;
}
.accordion-group.active a {
  color: #25acc2;
}
.accordion-group.active a .cancel {
  display: block;
}
.accordion-group.active a .plus {
  display: none;
}
.accordion-group.active .accordion-content {
  display: block;
}
.accordion-group .accordion-content {
  display: none;
}
.accordion-group .accordion-content p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4;
  padding-bottom: 15px;
}
.note-section .inner-container {
  padding: 20px 20px 0;
  border-top: 1px solid #c7c7c7;
}
.note-section .inner-container p {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.4;
  letter-spacing: 0.01em;
}
@media screen and (max-width: 340px) {
  .product-description-item .freeship {
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .product-intro {
    background-position: 0 90px;
  }
  .product-intro .img-intro {
    margin-top: -90px;
    max-width: 65%;
  }
  .product-intro h2 {
    font-size: 50px;
    font-size: 3.125rem;
    padding: 30px 0;
  }
  .inner-product-intro {
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  .product-intro-content {
    padding: 0 25px 40px 10px;
  }
  .product-intro-content:last-child {
    padding-right: 0;
  }
  .product-intro-content:first-child {
    padding-left: 0;
  }
  .product-intro-content h3 {
    font-size: 28px;
    font-size: 1.75rem;
  }
  .product-intro-content p {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.6;
  }
  .product-description-item .inner-container {
    padding: 0 40px;
  }
  .video-container .btn-play .icon-play {
    font-size: 90px;
    font-size: 5.625rem;
    width: 100px;
    height: 100px;
    border-width: 4px;
    margin-left: -50px;
    margin-top: -50px;
  }
  .note-section .inner-container {
    padding: 20px 42px 0;
  }
}
@media screen and (min-width: 1024px) {
  .product-intro {
    background-position: 0 150px;
  }
  .product-intro .img-intro {
    margin-top: -150px;
  }
  .product-description-item {
    font-size: 26px;
    font-size: 1.625rem;
    padding-bottom: 30px;
  }
  .product-description-item.item-2 {
    background-size: 230px;
  }
}
@media screen and (min-width: 1280px) {
  .product-intro {
    background-position: 0 228px;
    padding-bottom: 330px;
  }
  .product-intro .img-intro {
    margin-top: -228px;
  }
  .product-intro h2 {
    font-size: 72px;
    font-size: 4.5rem;
  }
  .product-intro-content h3 {
    font-size: 32px;
    font-size: 2rem;
  }
  .product-intro-content p {
    font-size: 22px;
    font-size: 1.375rem;
  }
  .video-container {
    width: 1200px;
  }
  .product-description {
    background-position: 0 330px;
  }
  .product-description .video-container {
    margin-top: -330px;
  }
  .video {
    margin-bottom: 80px;
  }
  .product-description-item {
    font-size: 26px;
    font-size: 1.625rem;
    padding-bottom: 30px;
  }
  .product-description-item.item-1 {
    background-size: auto;
    background-position: 0 50px;
  }
  .product-description-item.item-2 {
    background-size: auto;
    background-position: 100% 0;
    padding-bottom: 205px;
  }
  .product-description-item.item-3 {
    margin-top: -110px;
    position: relative;
  }
  .product-description-item .inner-container {
    padding: 0 94px;
  }
  .product-description-item h2 {
    font-size: 60px;
    font-size: 3.75rem;
    padding-bottom: 30px;
  }
  .product-description-item h3 {
    font-size: 32px;
    font-size: 2rem;
  }
  .product-description-item p {
    font-size: 26px;
    font-size: 1.625rem;
    padding-bottom: 30px;
  }
  .product-description-item ul {
    font-size: 26px;
    font-size: 1.625rem;
    padding-bottom: 30px;
  }
  .product-description-item ul li {
    padding-bottom: 5px;
  }
  .product-description-item .freeship {
    font-size: 24px;
    font-size: 1.5rem;
    padding: 20px 0 0 50px;
  }
  .product-description-item .btn {
    margin-top: 10px;
  }
  .accordion-group .accordion-title {
    padding-bottom: 20px;
  }
  .accordion-group .accordion-title a {
    font-size: 26px;
    font-size: 1.625rem;
  }
  .accordion-group .accordion-title a span {
    font-size: 36px;
    font-size: 2.25rem;
  }
  .accordion-group .accordion-title a .cancel {
    font-size: 26px;
    font-size: 1.625rem;
  }
  .accordion-group .accordion-content p {
    font-size: 26px;
    font-size: 1.625rem;
    padding-bottom: 25px;
  }
  .note-section .inner-container {
    padding: 30px 94px 0;
  }
  .note-section .inner-container p {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1440px) {
  .note-section .inner-container {
    padding: 30px 65px 0;
    max-width: 1240px;
  }
}
.container {
  margin: 0 auto;
  width: auto;
}
.style-guide {
  font-size: 14px;
  font-size: 0.875rem;
  color: #000000;
}
.style-guide .container {
  max-width: 1440px;
  padding: 20px 0;
}
.style-guide section {
  padding: 0;
}
.style-guide .sg-level1 {
  font-family: 'bourgeois_bold';
  font-size: 50px;
  font-size: 3.125rem;
  border-bottom: 2px solid #000000;
  padding: 0 0 10px;
}
.style-guide .sg-level2 {
  font-family: 'bourgeois_bold';
  font-size: 20px;
  font-size: 1.25rem;
  padding: 20px 0 10px;
}
.style-guide .sg-level3 {
  font-family: 'bourgeois_med';
  font-size: 20px;
  font-size: 1.25rem;
  padding: 20px 0 10px;
}
.style-guide .sg-note {
  background: #ffeece;
  border-left: 5px solid #ffa800;
  padding: 10px;
}
.style-guide code {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #ff0000;
  color: #ff0000;
  display: inline-block;
  padding: 1px 3px;
}
.style-guide table.sg-table {
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  width: 100%;
}
.style-guide table.sg-table th.sg-th,
.style-guide table.sg-table td.sg-td {
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 8px;
  text-align: left;
}
.style-guide table.sg-table th.sg-th {
  background: #08080f;
  font-weight: bold;
}
.style-guide section.sg-responsive table td {
  width: 40%;
}
.style-guide section.sg-responsive table td:first-child {
  width: 20%;
}
.style-guide section.sg-responsive table tr:first-child + tr td:first-child + td span:first-child + span {
  display: none;
}
@media (max-width: 768px) {
  .style-guide section.sg-responsive table tr:first-child + tr td:first-child + td span:first-child + span {
    display: block;
  }
}
@media (max-width: 768px) {
  .style-guide section.sg-responsive table tr:first-child + tr td:first-child + td span:first-child {
    display: none;
  }
}
.style-guide section.sg-responsive table tr:first-child + tr td:first-child + td + td span:first-child {
  display: none;
}
@media (max-width: 768px) {
  .style-guide section.sg-responsive table tr:first-child + tr td:first-child + td + td span:first-child + span {
    display: none;
  }
}
@media (max-width: 768px) {
  .style-guide section.sg-responsive table tr:first-child + tr td:first-child + td + td span:first-child {
    display: block;
  }
}
.style-guide section.sg-responsive table tr:first-child + tr + tr td:first-child + td span:first-child {
  display: none;
}
@media (max-width: 768px) {
  .style-guide section.sg-responsive table tr:first-child + tr + tr td:first-child + td span:first-child {
    display: block;
  }
}
@media (max-width: 768px) {
  .style-guide section.sg-responsive table tr:first-child + tr + tr td:first-child + td span:first-child + span {
    display: none;
  }
}
@media (max-width: 768px) {
  .style-guide section.sg-responsive table tr:first-child + tr + tr td:first-child + td + td span:first-child {
    display: none;
  }
}
.style-guide section.sg-responsive table tr:first-child + tr + tr td:first-child + td + td span:first-child + span {
  display: none;
}
@media (max-width: 768px) {
  .style-guide section.sg-responsive table tr:first-child + tr + tr td:first-child + td + td span:first-child + span {
    display: block;
  }
}
.style-guide section.sg-pallete ul.sg-pallete li {
  border: 1px solid #000000;
  float: left;
  margin: 0 5px 5px 0;
  padding: 4px;
  text-align: center;
  width: auto;
}
.style-guide section.sg-pallete ul.sg-pallete li:nth-child(3),
.style-guide section.sg-pallete ul.sg-pallete li:nth-child(5),
.style-guide section.sg-pallete ul.sg-pallete li:nth-child(7) {
  clear: left;
}
.style-guide section.sg-pallete ul.sg-pallete li div {
  border: 1px solid #000000;
  height: 40px;
  margin: 0 0 5px;
}
.style-guide section.sg-pallete ul.sg-pallete li div.pa-00 {
  background: #ff0000;
}
.style-guide section.sg-pallete ul.sg-pallete li div.pa-xx {
  background: #00cc00;
}
.style-guide section.sg-pallete ul.sg-pallete li div.pa-01 {
  background: #ffffff;
}
.style-guide section.sg-pallete ul.sg-pallete li div.pa-02 {
  background: #000000;
}
.style-guide section.sg-pallete ul.sg-pallete li div.pa-03 {
  background: #ff0000;
}
.style-guide section.sg-pallete ul.sg-pallete li div.pa-04 {
  background: #ff0000;
}
.style-guide section.sg-pallete ul.sg-pallete li div.pa-05 {
  background: #27272d;
}
.style-guide section.sg-pallete ul.sg-pallete li div.pa-06 {
  background: #5f605f;
}
.style-guide section.sg-pallete ul.sg-pallete li div.pa-07 {
  background: #08080f;
}
.style-guide section.sg-pallete ul.sg-pallete li div.pa-08 {
  background: #eeeeee;
}
.style-guide section.sg-pallete ul.sg-pallete li div.pa-09 {
  background: #444444;
}
.style-guide section.sg-pallete ul.sg-pallete li div.pa-10 {
  background: #26262c;
}
.style-guide section.sg-pallete ul.sg-pallete li span {
  display: block;
  padding: 5px 0 0;
}
.style-guide section.sg-typography table td {
  width: 50%;
}
.style-guide section.sg-typography table.sg-col-3 td:first-child {
  width: 15%;
}
.style-guide section.sg-typography table.sg-col-3 td:first-child + td {
  width: 55%;
}
.style-guide section.sg-typography table.sg-col-3 td:first-child + td + td {
  width: 30%;
}
.style-guide section.sg-tile-display table td {
  vertical-align: top;
  width: 33.33%;
}
.style-guide section.sg-list-table table.sg-table td.sg-td {
  width: 50%;
}
.style-guide section.sg-list-table table.sg-table.sg-col-3 td.sg-td:first-child {
  width: 15%;
}
.style-guide section.sg-list-table table.sg-table.sg-col-3 td.sg-td:first-child + td.sg-td {
  width: 55%;
}
.style-guide section.sg-list-table table.sg-table.sg-col-3 td.sg-td:first-child + td.sg-td + td {
  width: 30%;
}
.style-guide section.sg-form table.sg-table td.sg-td {
  width: 50%;
}
.style-guide section.sg-form table.sg-table td.sg-td form {
  width: 400px;
}
.style-guide section.sg-form table.sg-table td.sg-td form input.error,
.style-guide section.sg-form table.sg-table td.sg-td form textarea.error {
  background: #faeded;
}
.style-guide section.sg-form table.sg-table td.sg-td form.horizontal {
  width: 600px;
}
.style-guide section.sg-form [class*="span"] {
  margin: 0 0 10px 0;
}
.style-guide section.sg-advance .sg-arrow-outline {
  background: #27272d;
  height: 150px;
  position: relative;
  width: 100%;
}
.style-guide section.sg-advance table td {
  width: 20%;
}
.style-guide section.sg-advance table td + td {
  width: 80%;
}
.style-guide section.sg-icon table td {
  width: 50%;
}
.style-guide section.sg-image table td {
  vertical-align: top;
  width: 20%;
}
.style-guide section.sg-image table td + td {
  width: 80%;
}
