// footer
.footer {
    text-align: center;
}

.subscribe-form {
    margin: 0 auto;
    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
        .form-control {
            position: relative;
            z-index: 2;
            float: left;
            width: 100%;
            margin-bottom: 0;
            display: table-cell;
        }
    }
    .input-group-btn {
        position: relative;
        font-size: 0;
        white-space: nowrap;
        width: 1%;
        vertical-align: middle;
        display: table-cell;
        padding-left: 5px;
        button {
            .border-radius(3px);
            text-transform: uppercase;
            color: @color01;
            background: @color02;
            border: none;
            padding: 10px 20px;
        }
    }
}

// footer-link
.footer-link {
    li {
        display: inline-block;
        padding: 0 25px;
    }
}

// .footer-social
.footer-social {
    text-align: center;
    li {
        display: inline-block;
        text-transform: uppercase;
        padding: 0 10px;
        a {
            &:hover {
                color: @green;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .subscribe-form {
        max-width: 400px;
    }
}